.logo {
  background: url(images/logo.png);
}

#maru {
  width: 500px;
  height: 500px;
  background: url("images/maru.jpeg") no-repeat;
}

#manny {
  background: url(http://example.com/images/manny.png);
}

#bob {
  background-image: url(data:image/png;base64,PNG DATA HERE)
}

#bar {
  background-image: url(/public/images/foo.png)
}
